In [103]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime

## Group Assignment
### Team Number: 11
### Team Member Names: Akram, Annie, Jester
### Team Strategy Chosen: Market Beat

Disclose any use of AI for this assignment below (detail where and how you used it).  Please see the course outline for acceptable uses of AI.

In [104]:
# Important Constants: 
amount = 1_000_000 # Initial investment amount of $1,000,000
group = 11

# Reading in CSV file: 
tickers = pd.read_csv('Tickers.csv')
ticker_lst = list(tickers['Tickers'])

# Initializing variable to store the tickers we will use in our portfolio
columns = ['Ticker', 'Price', 'Currency', 'Shares', 'Value', 'Weight']
Portfolio_Final = pd.DataFrame(columns=columns)

In [112]:
# filtering stocks
valid_tickers = []
invalid_tickers = []

# loop through all tickers to check
for ticker in ticker_lst:
    try:
        info = yf.Ticker(ticker).fast_info
        if (info and info.get("exchange") is not None): # filter for stocks delisted on yfinance
            if(info.get("currency") == "USD" or info.get("currency") == "CAD"): # filter for stocks that are not USD
                valid_tickers.append(ticker)
            else:
                invalid_tickers.append(ticker)
    except:
        invalid_tickers.append(ticker)

print("The following tickers were removed:", invalid_tickers)

$AGN: possibly delisted; no price data found  (period=1y) (Yahoo error = "No data found, symbol may be delisted")
$CELG: possibly delisted; no price data found  (period=1y) (Yahoo error = "No data found, symbol may be delisted")
$MON: possibly delisted; no price data found  (period=1y) (Yahoo error = "No data found, symbol may be delisted")
$RTN: possibly delisted; no price data found  (period=1y) (Yahoo error = "No data found, symbol may be delisted")

The following tickers were removed: ['AGN', 'CELG', 'MON', 'RTN']

In [124]:
data = yf.download(valid_tickers, period="1y", interval="1d")['Close']
returns = data.pct_change()
returns.drop(index=returns.index[0], inplace = True)

data

[*********************100%***********************]  37 of 37 completed
C:\Users\annie\AppData\Local\Temp\ipykernel_2348\2807775879.py:2: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns = data.pct_change()

Ticker,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BB.TO,...,QCOM,RY.TO,SHOP.TO,T.TO,TD.TO,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2023-11-13 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.87,...,NaN,116.879997,86.059998,23.770000,82.589996,NaN,NaN,NaN,NaN,NaN
2023-11-14 00:00:00+00:00,187.440002,138.059998,97.080002,320.489990,64.209999,145.800003,156.910004,207.470001,29.219999,5.12,...,127.360001,119.139999,89.769997,24.250000,83.599998,149.929993,540.460022,215.690002,143.169998,36.150002
2023-11-15 00:00:00+00:00,188.009995,137.600006,98.000000,325.500000,63.480000,143.199997,159.429993,208.710007,29.620001,5.04,...,128.919998,119.889999,92.849998,24.450001,83.849998,151.869995,538.409973,218.080002,147.169998,37.180000
2023-11-16 00:00:00+00:00,189.710007,138.279999,100.260002,327.320007,64.120003,142.830002,159.050003,206.600006,29.540001,4.96,...,128.699997,119.760002,92.690002,24.309999,83.800003,151.889999,539.820007,219.360001,146.910004,37.320000
2023-11-17 00:00:00+00:00,189.690002,138.300003,99.550003,327.829987,64.480003,145.179993,162.559998,208.039993,29.980000,5.05,...,129.470001,120.489998,93.870003,24.219999,84.779999,154.619995,536.289978,219.210007,147.979996,37.639999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-07 00:00:00+00:00,227.479996,200.509995,115.300003,360.709991,76.589996,210.050003,286.820007,150.979996,44.770000,3.21,...,172.910004,172.660004,118.680000,21.020000,78.739998,217.539993,605.450012,242.559998,134.149994,49.560001
2024-11-08 00:00:00+00:00,226.960007,199.500000,116.589996,355.529999,75.580002,208.179993,287.600006,151.679993,45.130001,3.25,...,170.910004,172.039993,121.250000,21.809999,78.910004,220.289993,615.809998,241.490005,132.440002,50.209999
2024-11-11 00:00:00+00:00,224.229996,174.429993,116.800003,357.299988,75.379997,206.839996,292.970001,148.960007,46.080002,3.39,...,168.289993,172.779999,125.370003,21.950001,79.279999,215.869995,625.250000,241.949997,131.610001,51.040001
2024-11-12 00:00:00+00:00,224.229996,171.089996,116.440002,360.609985,74.860001,208.910004,288.510010,145.169998,45.860001,3.38,...,163.410004,172.750000,152.259995,21.879999,78.330002,212.779999,614.669983,238.910004,130.139999,50.759998
2024-11-13 00:00:00+00:00,225.119995,170.350006,115.739998,370.220001,76.089996,214.100006,287.640015,139.970001,45.869999,3.43,...,160.419998,172.429993,161.199997,21.809999,78.559998,205.720001,605.869995,240.410004,133.679993,51.169998

In [7]:
# Code to output final dataframe to a CSV file called Stocks_Group_XX.csv
Stocks_Final = Portfolio_Final[['Ticker', 'Shares']]
Stocks_Final.to_csv(f'Stocks_Group_{group}.csv', index=False)

In [8]:
Portfolio_Final

Empty DataFrame
Columns: [Ticker, Price, Currency, Shares, Value, Weight]
Index: []

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

---
<p style="color: #004dd3">
Akram Jamil
</p>

<p style="color: #2C8CA9">
Jester Yang
</p>

<p style="color: #3cc19d;">
Annie Wong
</p>

---