In [31]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime
from scipy.optimize import minimize

## Group Assignment
### Team Number: 11
### Team Member Names: Akram, Annie, Jester
### Team Strategy Chosen: Market Beat

Disclose any use of AI for this assignment below (detail where and how you used it).  Please see the course outline for acceptable uses of AI.

## **General Strategy for the Project**:

#### Initialization
0) Define and initialize necessary global variables

#### Part #1: Data Filtering and Cleaning
1) Filter out all valid US and CAD Stocks from the provided CSV file.
2) Download and store closing price, options and volume data in a dictionary using yfinance, where US stocks prices are converted using real-time exchange rate.
3) Filter out tickers within date range based on given minimum monthly average volume and minimum trading days in a month.

#### Part #2: Portfolio Construction
4) Rank stocks based on Standard Deviation of percentage change in returns in descending order.
5) Rank stocks based on PCR values using options data in descending order.
6) Score the stocks based on the two ranks, and create a new ranking based on the scoring.
7) We select stocks based on the ranking and calculate weights that would maximize the portfolio sharpe ratio while beta is within pre-defined constraints.
8) Run sharpe ratio calculation function on portfolio from size 12(min) to 24(max), so that the final portfolio (with weightings) is picked based on highest output sharpe ratio.

#### Part #3: Evaluation and Proof
9) Given the chosen portfolio of xx stocks, graph the change in portfolio standard deviation as other stocks are added.
10) Beta of portfolio compared to the S&P 500.
11) Calculate the Beta between our portfolio and an equally weighted portfolio including all valid stocks.
12) Beta between our portfolio with varied weight versus when the portfolio is equally weighted.
13) Sharpe ratio between our portfolio with varied weight versus when it is equally weighted.
14) Graphically compare sharpe ratios amongst our portfolio of xx stocks and the portfolios of varying 12-24 stocks.

#### Part #4: Final Output
15) Creating the final portfolio dataframe and CSV.

## Initializing Variables

In [32]:
def get_tickers():
    tickers = pd.read_csv('Tickers.csv')
    ticker_lst = [tickers.columns[0]] + (list(tickers[tickers.columns[0]]))
    return ticker_lst

In [33]:
# Important Constants: 
amount = 1_000_000 # Initial investment amount of $1,000,000
group = 11

# Define constants
min_avg_volume = 100000
min_trading_days = 18
start_date, end_date = '2022-09-30', '2024-09-30'
min_stocks, max_stocks = 12, 24

# Reading in CSV file: 
tickers = pd.read_csv('Tickers.csv')
ticker_lst = get_tickers()

# Initializing variable to store the tickers we will use in our portfolio
columns = ['Ticker', 'Price', 'Currency', 'Shares', 'Value', 'Weight']
Portfolio_Final = pd.DataFrame(columns=columns)
exchange_rate = yf.Ticker('CAD=X').fast_info['last_price']
print(f'The current exchange rate for the latest available day:\nUSD -> CAD: ${np.round(exchange_rate, 4)}')

The current exchange rate for the latest available day:
USD -> CAD: $1.3968

#### We must filter the tickers csv as follows:
- Must be listed on yfinance
- The currency is listed as USD or CAD 
- 100,000+ average monthly volume trades
- More than 18 trades per month
- Sufficient data

In [ ]:
# Filtering valid stocks by inputting a list of strings for each ticker. 
def filter_stocks(ticker_lst):
    # Function to drop short trading months (less than 18 trading days per month)
    def drop_short_trading_months(df):
        """
        Drops months with less than 18 trading days from a yfinance history DataFrame.
        Parameters:
            df (pd.DataFrame): A yfinance DataFrame with a DatetimeIndex and stock data.
        Returns:
            pd.DataFrame: Filtered DataFrame with only months having >= 18 trading days.
        """
        # Ensure the index is a DatetimeIndex
        if not isinstance(df.index, pd.DatetimeIndex):
            raise ValueError("The DataFrame index must be a DatetimeIndex.")
        # Remove timezone information to avoid warnings
        df = df.copy()  # Avoid modifying the original DataFrame
        df.index = df.index.tz_localize(None)
        # Group by year and month
        df['YearMonth'] = df.index.to_period('M')  # Creates a 'YearMonth' period
        # Count trading days for each month
        trading_days_per_month = df.groupby('YearMonth').size()
        # Get valid months with at least 18 trading days
        valid_months = trading_days_per_month[trading_days_per_month >= 18].index
        # Filter DataFrame to include only rows in valid months
        filtered_df = df[df['YearMonth'].isin(valid_months)].drop(columns=['YearMonth'])
        return filtered_df
    
    valid_tickers, invalid_tickers = {}, []
    # Loop through all tickers to check if they are valid
    for ticker in ticker_lst:
        stock = yf.Ticker(ticker)
        try:
            info = stock.fast_info # Get basic stock info

            hist = stock.history(start=start_date, end=end_date) # Get stock history
            pd.to_datetime(hist.index, format='%Y-%m-%d')
            
            avg_volume = hist.loc[((hist.index >= start_date) & (hist.index <= end_date))]['Volume'].mean() # Calculate average volume in specified date range.
            currency = info.get("currency")
            if ((hist.empty is not None) and # filter for stocks delisted on yfinance
                ( currency == "USD" or currency == "CAD") and # filter for stocks that are not USD
                (avg_volume >= min_avg_volume)): # Filter by volume greater than 100,000
                if currency == "CAD":
                    hist = drop_short_trading_months(hist)
                    hist.index = hist.index.strftime('%Y-%m-%d')
                    valid_tickers[ticker] = hist['Close'] # Store the close prices of the stock as a Series
                elif currency == "USD":
                    hist = drop_short_trading_months(hist)
                    hist.index = hist.index.strftime('%Y-%m-%d')
                    valid_tickers[ticker] = hist['Close'] * exchange_rate # Convert USD to CAD
            else:
                invalid_tickers.append(ticker)
        except:
            invalid_tickers.append(ticker)
    return [valid_tickers, invalid_tickers]
    # valid_tickers is a dictionary of Series where the key is the name of the ticker. 
    # invalid_tickers is a list of ticker strings which were removed in the filtering process.

In [36]:
def calculate_std(data):
    data.index = pd.to_datetime(data.index)
    
    # Calculate daily percentage returns
    returns = data.pct_change().dropna()

    # Calculate standard deviation of returns
    std = pd.DataFrame(returns.std(), columns=['Standard Deviation'])

    # Sort by standard deviation
    std_sorted = std.sort_values(by='Standard Deviation', ascending=False)

    # Add Rank column
    std_sorted['Rank'] = range(len(std_sorted))

    # Add Score column
    highest_std_value = std_sorted['Standard Deviation'].iloc[0]
    std_sorted['Score'] = (std_sorted['Standard Deviation'] / highest_std_value) * 100

    return std_sorted

In [37]:
def calculate_return(data):
    data.index = pd.to_datetime(data.index)
    
    # Calculate daily percentage returns
    returns = data.pct_change().dropna()

    # Calculate standard deviation of returns
    ret = pd.DataFrame(returns.mean(), columns=['Return'])

    # Sort by standard deviation
    ret_sorted = ret.sort_values(by='Return', ascending=False)

    # Add Rank column
    ret_sorted['Rank'] = range(len(ret_sorted))

    # Add Score column
    highest_ret_value = ret_sorted['Return'].iloc[0]
    ret_sorted['Score'] = (ret_sorted['Return'] / highest_ret_value) * 100

    return ret_sorted

In [38]:
# Loading data into variables
stock_filter = filter_stocks(ticker_lst)
ticker_data = stock_filter[0]
ticker_lst = list(ticker_data.keys()) # Reassign original ticker list
data = pd.DataFrame()
for ticker in ticker_data:
    data[ticker] = ticker_data[ticker]

# returns = data.pct_change()
# returns.drop(index=returns.index[0], inplace = True)

data.head()

$AGN: possibly delisted; no timezone found
$AGN: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$CELG: possibly delisted; no timezone found
$CELG: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$MON: possibly delisted; no timezone found
$MON: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$RTN: possibly delisted; no timezone found
$RTN: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BB.TO,...,QCOM,RY.TO,SHOP.TO,T.TO,TD.TO,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2022-10-03,196.577440,177.349742,132.989213,356.862738,65.658218,161.861185,189.724837,176.066649,41.058490,6.53,...,156.204183,114.575363,37.799999,25.033072,77.623260,208.810140,698.973140,266.829708,207.073326,52.522376
2022-10-04,201.614347,182.055310,137.746488,369.553315,69.035930,169.138512,197.095975,186.486766,42.762114,6.74,...,163.066931,117.543633,42.610001,25.316832,79.079201,215.746994,709.359197,273.651705,214.437473,53.861661
2022-10-05,202.028362,183.773390,138.147384,369.593811,68.488557,168.942961,195.619015,184.531254,42.154618,6.67,...,166.425008,117.041306,41.959999,25.104013,78.620857,219.208857,714.647242,267.309390,213.218577,53.318370
2022-10-06,200.689769,179.875581,136.904606,363.032841,67.767618,168.035049,192.922605,184.656961,41.547123,6.64,...,166.944694,113.762505,41.320000,24.421213,75.751671,217.562796,703.881506,264.098280,210.260266,51.903283
2022-10-07,193.320698,177.913867,136.022654,349.884130,66.365809,160.017409,188.342786,181.290668,40.609474,6.29,...,161.121362,110.520241,37.349998,24.376871,74.671204,208.078576,684.519448,260.647308,202.058051,50.791433

In [39]:
# Function to get the total volume for a call or put of a given stock.
# ticker: yfinance Ticker class
# put: Boolean for if you want to calculate put volume. Else, put False for call volume. 
def get_options_vol(ticker, put):
    exps = ticker.options # Expiration dates of available options
    optdata = pd.DataFrame() # Data storage
    for exp in exps:
        chain = pd.DataFrame()
        if put: chain = ticker.option_chain(exp).puts['volume'] # Gets the desired columns
        else: chain = ticker.option_chain(exp).calls['volume'] # If put options are desired then use this data.
        optdata = pd.concat([optdata, chain]) # Add the calls/puts to the main dataframe. 
    return optdata.sum()['volume'] # output total volue of put/call options

# Function to calculate the PCR for each stock. 
def PCR_calc(tickers):
    pcrdata = pd.DataFrame(columns=['Ticker', 'Put Volume', 'Call Volume', 'PCR'])
    for ticker in tickers:
        stock = yf.Ticker(ticker)
        try: 
            # Get the volume for Put and Call options:
            call_options = get_options_vol(stock, False)
            put_options = get_options_vol(stock, True)
            # Calculate PCR Ratio:
            pcr = call_options / put_options # Order reversed from the formula for sake of ranking
            #print(f"Ticker: {ticker}, PCR: {pcr}")  # Debugging
            pcrdata.loc[len(pcrdata)] = [ticker, put_options, call_options, pcr]
        except Exception as e:
            print(f"Options Data Not Found {ticker}: {e} not found")  # Debugging (output error)
            pass
    return pcrdata

In [40]:
std = calculate_std(data)
std

/var/folders/9g/h_n63rvn21s1k0y3xvf0n28h0000gn/T/ipykernel_84429/2355861676.py:5: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns = data.pct_change().dropna()

         Standard Deviation  Rank       Score
SHOP.TO            0.036151     0  100.000000
BB.TO              0.034589     1   95.681598
PYPL               0.023819     2   65.888938
QCOM               0.023439     3   64.837268
AMZN               0.021313     4   58.955341
USB                0.021239     5   58.752259
BA                 0.020323     6   56.217049
LLY                0.018084     7   50.025324
CAT                0.017586     8   48.645457
TXN                0.016667     9   46.104356
C                  0.016470    10   45.559804
UPS                0.016413    11   45.400913
BAC                0.016275    12   45.019081
AXP                0.016260    13   44.979889
ACN                0.015976    14   44.192223
AAPL               0.015728    15   43.508005
BIIB               0.015395    16   42.586568
BLK                0.015281    17   42.270906
AIG                0.015088    18   41.737138
PFE                0.014761    19   40.831753
BK                 0.014498    20   40.104736
BMY                0.014287    21   39.521880
UNH                0.014152    22   39.146142
UNP                0.014084    23   38.960160
ABT                0.012963    24   35.857287
MRK                0.012627    25   34.929576
ABBV               0.012415    26   34.342496
LMT                0.011803    27   32.648473
MO                 0.010909    28   30.177246
PM                 0.010631    29   29.406380
TD.TO              0.010610    30   29.348585
T.TO               0.010206    31   28.231492
PEP                0.010192    32   28.192909
CL                 0.009711    33   26.862741
PG                 0.009580    34   26.499738
RY.TO              0.009117    35   25.220207
KO                 0.008676    36   24.000748

In [41]:
ret = calculate_return(data)
ret

/var/folders/9g/h_n63rvn21s1k0y3xvf0n28h0000gn/T/ipykernel_84429/3450711558.py:5: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns = data.pct_change().dropna()

           Return  Rank       Score
SHOP.TO  0.002726     0  100.000000
LLY      0.002210     1   81.071882
CAT      0.001889     2   69.286142
AXP      0.001511     3   55.441218
BK       0.001427     4   52.355034
BLK      0.001227     5   45.024356
AMZN     0.001196     6   43.853769
QCOM     0.001116     7   40.925522
AAPL     0.001086     8   39.832615
C        0.001055     9   38.682412
AIG      0.001006    10   36.889199
PM       0.000968    11   35.494726
LMT      0.000929    12   34.061978
ABBV     0.000919    13   33.726760
CL       0.000901    14   33.043009
MO       0.000824    15   30.217643
TXN      0.000798    16   29.283530
RY.TO    0.000790    17   28.989323
PG       0.000750    18   27.514520
ACN      0.000749    19   27.457201
BAC      0.000719    20   26.374251
MRK      0.000710    21   26.059325
BA       0.000639    22   23.427179
KO       0.000634    23   23.254175
UNP      0.000590    24   21.646540
USB      0.000585    25   21.445594
ABT      0.000407    26   14.946343
UNH      0.000402    27   14.749396
TD.TO    0.000231    28    8.463368
PEP      0.000224    29    8.216863
PYPL     0.000059    30    2.180811
UPS     -0.000086    31   -3.158821
T.TO    -0.000148    32   -5.411942
BMY     -0.000390    33  -14.292731
BIIB    -0.000494    34  -18.116175
PFE     -0.000533    35  -19.539930
BB.TO   -0.000724    36  -26.567311

In [42]:
# Load the PCR values for each of the valid stocks into a variable
options_data = PCR_calc(ticker_lst)
options_data = options_data.sort_values(by='PCR', ascending=False)
options_data['Rank'] = [i for i in range(len(options_data))]
highest_pcr = options_data['PCR'].iloc[0]
options_data['Score'] = (options_data['PCR'] / highest_pcr) * 100
options_data.set_index('Ticker', inplace=True)


# Display the table of rankings based off PCR. 
# The rankings are based off the stocks with the greatest sentiment for if they will go up or not
# The tickers at the top of the list have a high call rate (meaning the price will go up)
pcr = options_data
pcr

Options Data Not Found BB.TO: 'volume' not found
Options Data Not Found RY.TO: 'volume' not found
Options Data Not Found SHOP.TO: 'volume' not found
Options Data Not Found T.TO: 'volume' not found
Options Data Not Found TD.TO: 'volume' not found

        Put Volume  Call Volume       PCR  Rank       Score
Ticker
PEP         5763.0      35932.0  6.234947     0  100.000000
KO         13171.0      50030.0  3.798497     1   60.922677
PM          3092.0       8275.0  2.676261     2   42.923561
PYPL       12469.0      31317.0  2.511589     3   40.282439
PG          7077.0      16438.0  2.322736     4   37.253494
BA         27272.0      57991.0  2.126393     5   34.104433
AMZN      163766.0     339482.0  2.072970     6   33.247595
LMT         4332.0       8372.0  1.932595     7   30.996168
MRK         9362.0      18016.0  1.924375     8   30.864338
LLY        30693.0      51657.0  1.683022     9   26.993368
UPS        11388.0      19018.0  1.670004    10   26.784566
AAPL      241839.0     386703.0  1.599010    11   25.645929
MO          5039.0       7487.0  1.485811    12   23.830365
UNH         9329.0      13833.0  1.482796    13   23.782008
QCOM       53229.0      77814.0  1.461872    14   23.446427
BK          1746.0       2445.0  1.400344    15   22.459591
AIG         3821.0       5148.0  1.347291    16   21.608704
ABT         3848.0       5118.0  1.330042    17   21.332043
BLK         3055.0       3903.0  1.277578    18   20.490595
PFE        81569.0     104089.0  1.276085    19   20.466658
BAC        41083.0      52099.0  1.268140    20   20.339228
BIIB        3994.0       4504.0  1.127692    21   18.086626
AXP         5255.0       5848.0  1.112845    22   17.848506
UNP         4082.0       4484.0  1.098481    23   17.618131
TXN         8619.0       9164.0  1.063232    24   17.052789
CL          2816.0       2508.0  0.890625    25   14.284404
CAT         7574.0       6281.0  0.829284    26   13.300584
USB         4554.0       3454.0  0.758454    27   12.164564
C          71559.0      53193.0  0.743345    28   11.922229
ABBV       21782.0      15482.0  0.710770    29   11.399782
ACN         3574.0       2491.0  0.696978    30   11.178574
BMY        16842.0       6530.0  0.387721    31    6.218516

In [43]:
def calculate_scoreboard(std, pcr, ret):
    """
    Merges three DataFrames (std, pcr, ret) on their index (assumed to be ticker names),
    calculates the average of their 'Score' columns, and sorts the result by 'Average Score'.
    Handles NaN values by taking the value from 'ret' where available.
    """
    # Merge std and pcr DataFrames
    merged = std[['Score']].merge(
        pcr[['Score']], left_index=True, right_index=True, suffixes=('_std', '_pcr'), how='outer'
    )
    
    # Merge the resulting DataFrame with ret
    merged = merged.merge(
        ret[['Score']].rename(columns={'Score': 'Score_ret'}),  # Rename the Score column in ret
        left_index=True,
        right_index=True,
        how='outer'
    )

    # Fill missing values: take the value from 'ret' where other columns are NaN
    merged['Score_std'] = merged['Score_std'].fillna(merged['Score_ret'])
    merged['Score_pcr'] = merged['Score_pcr'].fillna(merged['Score_ret'])
    merged['Score_ret'] = merged['Score_ret'].fillna(merged[['Score_std', 'Score_pcr']].mean(axis=1))

    # Calculate the average score from all three columns
    merged['Average Score'] = merged[['Score_std', 'Score_pcr', 'Score_ret']].mean(axis=1)

    # Sort the DataFrame by 'Average Score' in descending order
    merged_sorted = merged.sort_values(by='Average Score', ascending=False)

    return merged_sorted



calculate_scoreboard(std, pcr, ret)

          Score_std   Score_pcr   Score_ret  Average Score
SHOP.TO  100.000000  100.000000  100.000000     100.000000
LLY       50.025324   26.993368   81.071882      52.696858
PEP       28.192909  100.000000    8.216863      45.469924
AMZN      58.955341   33.247595   43.853769      45.352235
CAT       48.645457   13.300584   69.286142      43.744061
QCOM      64.837268   23.446427   40.925522      43.069739
AXP       44.979889   17.848506   55.441218      39.423204
BK        40.104736   22.459591   52.355034      38.306454
BA        56.217049   34.104433   23.427179      37.916220
AAPL      43.508005   25.645929   39.832615      36.328850
PYPL      65.888938   40.282439    2.180811      36.117396
KO        24.000748   60.922677   23.254175      36.059200
PM        29.406380   42.923561   35.494726      35.941556
BLK       42.270906   20.490595   45.024356      35.928619
AIG       41.737138   21.608704   36.889199      33.411681
LMT       32.648473   30.996168   34.061978      32.568873
C         45.559804   11.922229   38.682412      32.054815
TXN       46.104356   17.052789   29.283530      30.813559
USB       58.752259   12.164564   21.445594      30.787472
MRK       34.929576   30.864338   26.059325      30.617746
BAC       45.019081   20.339228   26.374251      30.577520
PG        26.499738   37.253494   27.514520      30.422584
MO        30.177246   23.830365   30.217643      28.075085
RY.TO     25.220207   28.989323   28.989323      27.732951
ACN       44.192223   11.178574   27.457201      27.609333
ABBV      34.342496   11.399782   33.726760      26.489679
UNP       38.960160   17.618131   21.646540      26.074944
UNH       39.146142   23.782008   14.749396      25.892515
CL        26.862741   14.284404   33.043009      24.730051
ABT       35.857287   21.332043   14.946343      24.045224
UPS       45.400913   26.784566   -3.158821      23.008886
TD.TO     29.348585    8.463368    8.463368      15.425107
BIIB      42.586568   18.086626  -18.116175      14.185673
BB.TO     95.681598  -26.567311  -26.567311      14.182325
PFE       40.831753   20.466658  -19.539930      13.919493
BMY       39.521880    6.218516  -14.292731      10.482555
T.TO      28.231492   -5.411942   -5.411942       5.802536

In [44]:
def calculate_scoreboard_2(std, pcr, ret):
    """
    Merges three DataFrames (std, pcr, ret) on their index (assumed to be ticker names),
    calculates the average of 'Score_std' and 'Score_pcr', using 'Score_ret' only when 'Score_pcr' is NaN.
    The average score is strictly based on 'Score_std' and 'Score_pcr'.
    """
    # Merge std and pcr DataFrames
    merged = std[['Score']].merge(
        pcr[['Score']], left_index=True, right_index=True, suffixes=('_std', '_pcr'), how='outer'
    )
    
    # Merge the resulting DataFrame with ret
    merged = merged.merge(
        ret[['Score']].rename(columns={'Score': 'Score_ret'}),  # Rename the Score column in ret
        left_index=True,
        right_index=True,
        how='outer'
    )

    # Use 'Score_ret' where 'Score_pcr' is NaN
    merged['Score_pcr'] = merged['Score_pcr'].fillna(merged['Score_ret'])
    merged.drop(columns=['Score_ret'], inplace=True)

    # Calculate the average score using only 'Score_std' and 'Score_pcr'
    # Exclude rows where both 'Score_std' and 'Score_pcr' are NaN
    merged['Average Score'] = merged[['Score_std', 'Score_pcr']].mean(axis=1)

    # Sort the DataFrame by 'Average Score' in descending order
    merged_sorted = merged.sort_values(by='Average Score', ascending=False)

    
    return merged_sorted




calculate_scoreboard_2(std, pcr, ret)

          Score_std   Score_pcr  Average Score
SHOP.TO  100.000000  100.000000     100.000000
PEP       28.192909  100.000000      64.096455
PYPL      65.888938   40.282439      53.085688
AMZN      58.955341   33.247595      46.101468
BA        56.217049   34.104433      45.160741
QCOM      64.837268   23.446427      44.141847
KO        24.000748   60.922677      42.461713
LLY       50.025324   26.993368      38.509346
PM        29.406380   42.923561      36.164971
UPS       45.400913   26.784566      36.092739
USB       58.752259   12.164564      35.458411
AAPL      43.508005   25.645929      34.576967
BB.TO     95.681598  -26.567311      34.557143
MRK       34.929576   30.864338      32.896957
BAC       45.019081   20.339228      32.679155
PG        26.499738   37.253494      31.876616
LMT       32.648473   30.996168      31.822321
AIG       41.737138   21.608704      31.672921
TXN       46.104356   17.052789      31.578573
UNH       39.146142   23.782008      31.464075
AXP       44.979889   17.848506      31.414198
BLK       42.270906   20.490595      31.380750
BK        40.104736   22.459591      31.282164
CAT       48.645457   13.300584      30.973021
PFE       40.831753   20.466658      30.649205
BIIB      42.586568   18.086626      30.336597
C         45.559804   11.922229      28.741016
ABT       35.857287   21.332043      28.594665
UNP       38.960160   17.618131      28.289146
ACN       44.192223   11.178574      27.685398
RY.TO     25.220207   28.989323      27.104765
MO        30.177246   23.830365      27.003806
ABBV      34.342496   11.399782      22.871139
BMY       39.521880    6.218516      22.870198
CL        26.862741   14.284404      20.573572
TD.TO     29.348585    8.463368      18.905976
T.TO      28.231492   -5.411942      11.409775

In [45]:
# Define to get call and put option data (specifically the total volume)
# def get_options_vol(ticker, put):
#     exps = ticker.options # Expiration dates of available options
#     data = pd.DataFrame() # Data storage
#     for exp in exps:
#         chain = pd.DataFrame()
#         if put: chain = ticker.option_chain(exp).puts['volume'] # Gets the desired columns
#         else: chain = ticker.option_chain(exp).calls['volume'] # If put options are desired then use this data.
#         data = pd.concat([data, chain]) # Add the calls/puts to the main dataframe. 
#     return data.sum()['volume'] # output total volue of put/call options

#cols = ['lastTradeDate','strike', 'bid', 'ask', 'volume', 'inTheMoney', 'currency']
# chain = chain.set_index('lastTradeDate') # Reset the index to the expiration dates
# chain.index = chain.index.strftime('%Y-%m-%d') # Remove excess data
# chain = chain.rename_axis('Expirations') # Rename the index

In [ ]:
# Load market data into a dataframe
s_p500 = yf.Ticker('^GSPC').history(start=start_date, end=end_date)['Close']
tsx60 = yf.Ticker('^GSPTSE').history(start=start_date, end=end_date)['Close']

SPreturns = s_p500.pct_change().dropna()
TSX60Returns = tsx60.pct_change().dropna()

avg_return = (SPreturns + TSX60Returns)/2

market_indices = pd.DataFrame({'S&P 500 PCT Returns': SPreturns, 
                               'TSX 60 PCT Returns': TSX60Returns, 
                               'Average Market Return': avg_return})
market_indices.index = market_indices.index.strftime('%Y-%m-%d')

market_indices.head()

            S&P 500 PCT Returns  TSX 60 PCT Returns  Average Market Return
Date
2022-10-03             0.025884            0.023693               0.024788
2022-10-04             0.030584            0.025941               0.028262
2022-10-05            -0.002018           -0.007016              -0.004517
2022-10-06            -0.010245           -0.013314              -0.011780
2022-10-07            -0.028004           -0.020860              -0.024432

In [47]:
# sharpe ratio optimization
def optimal_sharpe(tickers, risk_free_rate, investment, data):
    # download data
    data = data 

    def neg_sharpe(weights):

        # determining number of shares of each stock that can be bought
        shares = []
        for i in range(len(tickers)):
            allocation = investment * weights[i]  # investment allocated to this stock
            price_per_share = data.iloc[0][tickers[i].upper()]
            
            # clculate fees
            flat_fee = 3.95
            per_share_fee = allocation/price_per_share/(1000+1/price_per_share) 
            
            # choose the smaller of the two fees
            trading_fee = min(flat_fee, per_share_fee)
            
            # calculate the number of shares after deducting the fee
            effective_investment = allocation - trading_fee
            shares.append(effective_investment / price_per_share)
        
        # forming the portfolio
        portfolio = data*shares
        portfolio['total'] = portfolio.sum(axis=1)
        portfolio['daily return'] = portfolio['total'].pct_change(1)

        # calculating sharpe ratio
        er = portfolio['daily return'].mean()
        std = portfolio['daily return'].std()
        sharpe_ratio = (er-risk_free_rate)/std
        
        sharpe_ratio = sharpe_ratio*(252**0.5) # annualizing sharpe ratio by trading days

        return -sharpe_ratio #make sharpe ratio negative for minimize function

    # constraints
    def check_sum(weights): 
        return np.sum(weights)-1 #returns 0 if weights sum up to 1
    constraints = {'type': 'eq', 'fun': check_sum}

    min_weight = 1/(2*len(tickers))
    max_weight = 0.4

    bounds = [(min_weight, max_weight)]*len(tickers)

    # initial guess
    init_guess = [1.0/len(tickers)]*len(tickers)

    results = minimize(neg_sharpe, init_guess, method="SLSQP", bounds=bounds, constraints=constraints)

    return results

In [48]:
# need to edit ticker_lst to get the actual stocks we will be using
optimal = optimal_sharpe(ticker_lst, 0, amount, data)
print(optimal.x)

[0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.20791637 0.01351351 0.01351351
 0.31911067 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351]

In [49]:
# Code to output final dataframe to a CSV file called Stocks_Group_XX.csv
Stocks_Final = Portfolio_Final[['Ticker', 'Shares']]
Stocks_Final.to_csv(f'Stocks_Group_{group}.csv', index=False)

In [50]:
Portfolio_Final

Empty DataFrame
Columns: [Ticker, Price, Currency, Shares, Value, Weight]
Index: []

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

---
<p style="color: #004dd3">
Akram Jamil
</p>

<p style="color: #2C8CA9">
Jester Yang
</p>

<p style="color: #3cc19d;">
Annie Wong
</p>

---