In [40]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime
from scipy.optimize import minimize

## Group Assignment
### Team Number: 11
### Team Member Names: Akram, Annie, Jester
### Team Strategy Chosen: Market Beat

Disclose any use of AI for this assignment below (detail where and how you used it).  Please see the course outline for acceptable uses of AI.

## **General Strategy for the Project**:

#### Initialization
0) Define and initialize necessary global variables

#### Part #1: Data Filtering and Cleaning
1) Filter out all valid US and CAD Stocks from the provided CSV file.
2) Download and store closing price, options and volume data in a dictionary using yfinance, where US stocks prices are converted using real-time exchange rate.
3) Filter out tickers within date range based on given minimum monthly average volume and minimum trading days in a month.

#### Part #2: Portfolio Construction
4) Rank stocks based on Standard Deviation of percentage change in returns in descending order.
5) Rank stocks based on PCR values using options data in descending order.
6) Score the stocks based on the two ranks, and create a new ranking based on the scoring.
7) We select stocks based on the ranking and calculate weights that would maximize the portfolio sharpe ratio while beta is within pre-defined constraints.
8) Run sharpe ratio calculation function on portfolio from size 12(min) to 24(max), so that the final portfolio (with weightings) is picked based on highest output sharpe ratio.

#### Part #3: Evaluation and Proof
9) Given the chosen portfolio of xx stocks, graph the change in portfolio standard deviation as other stocks are added.
10) Beta of portfolio compared to the S&P 500.
11) Calculate the Beta between our portfolio and an equally weighted portfolio including all valid stocks.
12) Beta between our portfolio with varied weight versus when the portfolio is equally weighted.
13) Sharpe ratio between our portfolio with varied weight versus when it is equally weighted.
14) Graphically compare sharpe ratios amongst our portfolio of xx stocks and the portfolios of varying 12-24 stocks.

#### Part #4: Final Output
15) Creating the final portfolio dataframe and CSV.

## Initializing Variables

In [41]:
def get_tickers():
    tickers = pd.read_csv('Tickers.csv')
    ticker_lst = [tickers.columns[0]] + (list(tickers[tickers.columns[0]]))
    return ticker_lst

In [42]:
# Important Constants: 
amount = 1_000_000 # Initial investment amount of $1,000,000
group = 11

# Define constants
min_avg_volume = 100000
min_trading_days = 18
start_date, end_date = '2022-09-30', '2024-09-30'
min_stocks, max_stocks = 12, 24

# Reading in CSV file: 
ticker_lst = get_tickers()

# Initializing variable to store the tickers we will use in our portfolio
columns = ['Ticker', 'Price', 'Currency', 'Shares', 'Value', 'Weight']
Portfolio_Final = pd.DataFrame(columns=columns)
exchange_rate = yf.Ticker('CAD=X').fast_info['last_price']
print(f'The current exchange rate for the latest available day:\nUSD -> CAD: ${np.round(exchange_rate, 4)}')

The current exchange rate for the latest available day:
USD -> CAD: $1.3974

#### We must filter the tickers csv as follows:
- Must be listed on yfinance
- The currency is listed as USD or CAD 
- 100,000+ average monthly volume trades
- More than 18 trades per month
- Sufficient data

In [43]:
# Filtering valid stocks by inputting a list of strings for each ticker. 
def filter_stocks(ticker_lst):
    # Function to drop short trading months (less than 18 trading days per month)
    def drop_short_trading_months(df):
        """
        Drops months with less than 18 trading days from a yfinance history DataFrame.
        Parameters:
            df (pd.DataFrame): A yfinance DataFrame with a DatetimeIndex and stock data.
        Returns:
            pd.DataFrame: Filtered DataFrame with only months having >= 18 trading days.
        """
        # Ensure the index is a DatetimeIndex
        if not isinstance(df.index, pd.DatetimeIndex):
            raise ValueError("The DataFrame index must be a DatetimeIndex.")
        # Remove timezone information to avoid warnings
        df = df.copy()  # Avoid modifying the original DataFrame
        df.index = df.index.tz_localize(None)
        # Group by year and month
        df['YearMonth'] = df.index.to_period('M')  # Creates a 'YearMonth' period
        # Count trading days for each month
        trading_days_per_month = df.groupby('YearMonth').size()
        # Get valid months with at least 18 trading days
        valid_months = trading_days_per_month[trading_days_per_month >= 18].index
        # Filter DataFrame to include only rows in valid months
        filtered_df = df[df['YearMonth'].isin(valid_months)].drop(columns=['YearMonth'])
        return filtered_df
    
    valid_tickers, invalid_tickers, usdstocks = {}, [], []
    # Loop through all tickers to check if they are valid
    for ticker in ticker_lst:
        stock = yf.Ticker(ticker)
        try:
            info = stock.fast_info # Get basic stock info

            hist = stock.history(start=start_date, end=end_date) # Get stock history
            pd.to_datetime(hist.index, format='%Y-%m-%d')
            
            avg_volume = hist.loc[((hist.index >= start_date) & (hist.index <= end_date))]['Volume'].mean() # Calculate average volume in specified date range.
            currency = info.get("currency")
            if ((hist.empty is not None) and # filter for stocks delisted on yfinance
                ( currency == "USD" or currency == "CAD") and # filter for stocks that are not USD
                (avg_volume >= min_avg_volume)): # Filter by volume greater than 100,000
                if currency == "CAD":
                    hist = drop_short_trading_months(hist)
                    hist.index = hist.index.strftime('%Y-%m-%d')
                    valid_tickers[ticker] = hist['Close'] # Store the close prices of the stock as a Series
                elif currency == "USD":
                    hist = drop_short_trading_months(hist)
                    hist.index = hist.index.strftime('%Y-%m-%d')
                    usdstocks.append(ticker)
                    valid_tickers[ticker] = hist['Close'] * exchange_rate # Convert USD to CAD
            else:
                invalid_tickers.append(ticker)
        except:
            invalid_tickers.append(ticker)
    return [valid_tickers, invalid_tickers, usdstocks]
    # valid_tickers is a dictionary of Series where the key is the name of the ticker. 
    # invalid_tickers is a list of ticker strings which were removed in the filtering process. 
    # usdstocks is a list of ticker strings which were converted from USD to CAD.

In [44]:
def calculate_std(data):
    data.index = pd.to_datetime(data.index)
    
    # Calculate daily percentage returns
    returns = data.pct_change(fill_method=None).dropna()

    # Calculate standard deviation of returns
    std = pd.DataFrame(returns.std(), columns=['Standard Deviation'])

    # Sort by standard deviation
    std_sorted = std.sort_values(by='Standard Deviation', ascending=False)

    # Add Rank column
    std_sorted['Rank'] = range(len(std_sorted))

    # Add Score column
    highest_std_value = std_sorted['Standard Deviation'].iloc[0]
    std_sorted['Score'] = (std_sorted['Standard Deviation'] / highest_std_value) * 100

    return std_sorted

In [45]:
def calculate_return(data):
    data.index = pd.to_datetime(data.index)
    
    # Calculate daily percentage returns
    returns = data.pct_change(fill_method=None).dropna()

    # Calculate standard deviation of returns
    ret = pd.DataFrame(returns.mean(), columns=['Return'])

    # Sort by standard deviation
    ret_sorted = ret.sort_values(by='Return', ascending=False)

    # Add Rank column
    ret_sorted['Rank'] = range(len(ret_sorted))

    # Add Score column
    highest_ret_value = ret_sorted['Return'].iloc[0]
    ret_sorted['Score'] = (ret_sorted['Return'] / highest_ret_value) * 100

    return ret_sorted

In [46]:
# Loading data into variables
stock_filter = filter_stocks(ticker_lst)
ticker_data = stock_filter[0]
ticker_lst = list(ticker_data.keys()) # Reassign original ticker list
data = pd.DataFrame()
for ticker in ticker_data:
    data[ticker] = ticker_data[ticker]

# returns = data.pct_change()
# returns.drop(index=returns.index[0], inplace = True)

data.head()

$AGN: possibly delisted; no timezone found
$AGN: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$CELG: possibly delisted; no timezone found
$CELG: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$MON: possibly delisted; no timezone found
$MON: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$RTN: possibly delisted; no timezone found
$RTN: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BB.TO,...,QCOM,RY.TO,SHOP.TO,T.TO,TD.TO,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2022-10-03,196.659080,177.423357,133.044452,357.010865,65.685490,161.928390,189.803611,176.139753,41.075538,6.53,...,156.269039,114.575356,37.799999,25.033073,77.623276,208.896838,699.263355,266.940475,207.159303,52.544188
2022-10-04,201.698079,182.130879,137.803691,369.706840,69.064594,169.208738,197.177789,186.564195,42.779866,6.74,...,163.134626,117.543640,42.610001,25.316833,79.079208,215.836551,709.653767,273.765325,214.526529,53.884019
2022-10-05,202.112180,183.849714,138.204743,369.747224,68.516988,169.013106,195.700215,184.607872,42.172121,6.67,...,166.494118,117.041313,41.959999,25.104010,78.620850,219.299852,714.944092,267.420398,213.307105,53.340503
2022-10-06,200.773095,179.950287,136.961459,363.183615,67.795755,168.104818,193.002685,184.733631,41.564373,6.64,...,167.014021,113.762512,41.320000,24.421211,75.751671,217.653128,704.173758,264.207912,210.347545,51.924839
2022-10-07,193.400965,177.987748,136.079142,350.029424,66.393365,160.083849,188.421008,181.365940,40.626338,6.29,...,161.188271,110.520248,37.349998,24.376873,74.671181,208.164970,684.803661,260.755551,202.141946,50.812517

In [47]:
# Function to get the total volume for a call or put of a given stock.
# ticker: yfinance Ticker class
# put: Boolean for if you want to calculate put volume. Else, put False for call volume. 
def get_options_vol(ticker, put):
    exps = ticker.options # Expiration dates of available options
    optdata = pd.DataFrame() # Data storage
    for exp in exps:
        chain = pd.DataFrame()
        if put: chain = ticker.option_chain(exp).puts['volume'] # Gets the desired columns
        else: chain = ticker.option_chain(exp).calls['volume'] # If put options are desired then use this data.
        optdata = pd.concat([optdata, chain]) # Add the calls/puts to the main dataframe. 
    return optdata.sum()['volume'] # output total volue of put/call options

# Function to calculate the PCR for each stock. 
def PCR_calc(tickers):
    pcrdata = pd.DataFrame(columns=['Ticker', 'Put Volume', 'Call Volume', 'PCR'])
    for ticker in tickers:
        stock = yf.Ticker(ticker)
        try: 
            # Get the volume for Put and Call options:
            call_options = get_options_vol(stock, False)
            put_options = get_options_vol(stock, True)
            # Calculate PCR Ratio:
            pcr = call_options / put_options # Order reversed from the formula for sake of ranking
            #print(f"Ticker: {ticker}, PCR: {pcr}")  # Debugging
            pcrdata.loc[len(pcrdata)] = [ticker, put_options, call_options, pcr]
        except Exception as e:
            print(f"Options Data Not Found {ticker}: {e} not found")  # Debugging (output error)
            pass
    return pcrdata

In [48]:
std = calculate_std(data)
std

         Standard Deviation  Rank       Score
SHOP.TO            0.036675     0  100.000000
BB.TO              0.034706     1   94.630544
PYPL               0.023866     2   65.074545
QCOM               0.023577     3   64.284993
AMZN               0.021535     4   58.719326
USB                0.021437     5   58.452277
BA                 0.020557     6   56.052245
CAT                0.017753     7   48.407082
LLY                0.016873     8   46.006089
TXN                0.016711     9   45.566078
UPS                0.016588    10   45.228317
C                  0.016542    11   45.104296
AXP                0.016409    12   44.742689
BAC                0.016307    13   44.464053
ACN                0.016169    14   44.087616
AAPL               0.015666    15   42.714951
BIIB               0.015536    16   42.360113
BLK                0.015422    17   42.048931
AIG                0.015131    18   41.257256
PFE                0.014693    19   40.062371
BK                 0.014604    20   39.818515
BMY                0.014361    21   39.156122
UNH                0.014204    22   38.729089
UNP                0.014149    23   38.580234
ABT                0.013015    24   35.488069
MRK                0.012594    25   34.338090
ABBV               0.012392    26   33.788404
LMT                0.011298    27   30.804668
MO                 0.010878    28   29.659794
TD.TO              0.010717    29   29.222126
PM                 0.010567    30   28.812874
T.TO               0.010198    31   27.806012
PEP                0.010143    32   27.656003
CL                 0.009671    33   26.368245
PG                 0.009580    34   26.120404
RY.TO              0.009188    35   25.052007
KO                 0.008647    36   23.578006

In [49]:
ret = calculate_return(data)
ret

           Return  Rank       Score
SHOP.TO  0.003137     0  100.000000
LLY      0.001928     1   61.474855
CAT      0.001796     2   57.254950
AXP      0.001552     3   49.491719
BK       0.001506     4   48.000357
QCOM     0.001437     5   45.799392
BLK      0.001431     6   45.617513
AMZN     0.001385     7   44.146281
AAPL     0.001331     8   42.419324
C        0.001076     9   34.319312
AIG      0.001039    10   33.122772
ABBV     0.001036    11   33.026836
CL       0.001013    12   32.289499
PM       0.000975    13   31.086494
RY.TO    0.000895    14   28.531978
TXN      0.000889    15   28.331266
ACN      0.000868    16   27.664754
PG       0.000844    17   26.900665
MO       0.000795    18   25.341685
UNP      0.000756    19   24.087781
LMT      0.000752    20   23.985110
MRK      0.000730    21   23.283081
KO       0.000692    22   22.051451
ABT      0.000606    23   19.318057
UNH      0.000593    24   18.909441
BAC      0.000590    25   18.812362
BA       0.000533    26   16.999880
USB      0.000515    27   16.428432
PEP      0.000296    28    9.439325
TD.TO    0.000283    29    9.010837
UPS      0.000099    30    3.150684
PYPL     0.000077    31    2.459537
T.TO     0.000033    32    1.051838
BB.TO   -0.000041    33   -1.304001
BMY     -0.000160    34   -5.109831
BIIB    -0.000387    35  -12.351948
PFE     -0.000603    36  -19.219501

In [50]:
# Load the PCR values for each of the valid stocks into a variable
options_data = PCR_calc(ticker_lst)
options_data = options_data.sort_values(by='PCR', ascending=False)
options_data['Rank'] = [i for i in range(len(options_data))]
highest_pcr = options_data['PCR'].iloc[0]
options_data['Score'] = (options_data['PCR'] / highest_pcr) * 100
options_data.set_index('Ticker', inplace=True)


# Display the table of rankings based off PCR. 
# The rankings are based off the stocks with the greatest sentiment for if they will go up or not
# The tickers at the top of the list have a high call rate (meaning the price will go up)
pcr = options_data
pcr

Options Data Not Found BB.TO: 'volume' not found
Options Data Not Found RY.TO: 'volume' not found
Options Data Not Found SHOP.TO: 'volume' not found
Options Data Not Found T.TO: 'volume' not found
Options Data Not Found TD.TO: 'volume' not found

        Put Volume  Call Volume       PCR  Rank       Score
Ticker
KO         11173.0      58728.0  5.256243     0  100.000000
PM          2844.0      10426.0  3.665963     1   69.744942
PG          8260.0      26726.0  3.235593     2   61.557150
PEP         5154.0      15798.0  3.065192     3   58.315269
AMZN      261121.0     660950.0  2.531202     4   48.156110
ABT         3750.0       9479.0  2.527733     5   48.090118
MRK         9984.0      22607.0  2.264323     6   43.078736
LMT         4555.0       9932.0  2.180461     7   41.483264
BK          1664.0       2832.0  1.701923     8   32.379081
MO          4745.0       8007.0  1.687460     9   32.103930
PYPL       15030.0      25299.0  1.683234    10   32.023512
LLY        19783.0      32571.0  1.646414    11   31.323013
CAT         7163.0      11485.0  1.603378    12   30.504270
TXN         7012.0      10623.0  1.514974    13   28.822381
AXP         8494.0      12482.0  1.469508    14   27.957383
ACN         2663.0       3762.0  1.412692    15   26.876469
BAC        61943.0      87295.0  1.409279    16   26.811538
UNP         3906.0       5338.0  1.366615    17   25.999855
UNH         6567.0       8391.0  1.277752    18   24.309235
QCOM       27469.0      34515.0  1.256507    19   23.905048
AAPL      323287.0     378204.0  1.169871    20   22.256787
BIIB        3497.0       4054.0  1.159279    21   22.055286
BA         63098.0      70884.0  1.123395    22   21.372593
PFE       139257.0     140594.0  1.009601    23   19.207655
C          67866.0      62987.0  0.928108    24   17.657258
BLK         2492.0       2201.0  0.883226    25   16.803378
AIG         5695.0       4783.0  0.839860    26   15.978325
UPS        15799.0      11682.0  0.739414    27   14.067347
ABBV       31248.0      20346.0  0.651114    28   12.387435
CL          4564.0       2809.0  0.615469    29   11.709293
BMY        19974.0      10212.0  0.511265    30    9.726808
USB        16829.0       8257.0  0.490641    31    9.334446

In [51]:
def calculate_scoreboard(std, pcr, ret):
    """
    Merges three DataFrames (std, pcr, ret) on their index (assumed to be ticker names),
    calculates the average of their 'Score' columns, and sorts the result by 'Average Score'.
    Handles NaN values by taking the value from 'ret' where available.
    """
    # Merge std and pcr DataFrames
    merged = std[['Score']].merge(
        pcr[['Score']], left_index=True, right_index=True, suffixes=('_std', '_pcr'), how='outer'
    )
    
    # Merge the resulting DataFrame with ret
    merged = merged.merge(
        ret[['Score']].rename(columns={'Score': 'Score_ret'}),  # Rename the Score column in ret
        left_index=True,
        right_index=True,
        how='outer'
    )

    # Fill missing values: take the value from 'ret' where other columns are NaN
    merged['Score_std'] = merged['Score_std'].fillna(merged['Score_ret'])
    merged['Score_pcr'] = merged['Score_pcr'].fillna(merged['Score_ret'])
    merged['Score_ret'] = merged['Score_ret'].fillna(merged[['Score_std', 'Score_pcr']].mean(axis=1))

    # Calculate the average score from all three columns
    merged['Average Score'] = merged[['Score_std', 'Score_pcr', 'Score_ret']].mean(axis=1)

    # Sort the DataFrame by 'Average Score' in descending order
    merged_sorted = merged.sort_values(by='Average Score', ascending=False)

    return merged_sorted



calculate_scoreboard(std, pcr, ret)

          Score_std   Score_pcr   Score_ret  Average Score
SHOP.TO  100.000000  100.000000  100.000000     100.000000
AMZN      58.719326   48.156110   44.146281      50.340572
KO        23.578006  100.000000   22.051451      48.543153
LLY       46.006089   31.323013   61.474855      46.267986
CAT       48.407082   30.504270   57.254950      45.388767
QCOM      64.284993   23.905048   45.799392      44.663144
PM        28.812874   69.744942   31.086494      43.214770
AXP       44.742689   27.957383   49.491719      40.730597
BK        39.818515   32.379081   48.000357      40.065984
PG        26.120404   61.557150   26.900665      38.192740
AAPL      42.714951   22.256787   42.419324      35.797021
BLK       42.048931   16.803378   45.617513      34.823274
ABT       35.488069   48.090118   19.318057      34.298748
TXN       45.566078   28.822381   28.331266      34.239909
MRK       34.338090   43.078736   23.283081      33.566635
PYPL      65.074545   32.023512    2.459537      33.185865
ACN       44.087616   26.876469   27.664754      32.876280
C         45.104296   17.657258   34.319312      32.360288
LMT       30.804668   41.483264   23.985110      32.091014
PEP       27.656003   58.315269    9.439325      31.803533
BA        56.052245   21.372593   16.999880      31.474906
BB.TO     94.630544   -1.304001   -1.304001      30.674180
AIG       41.257256   15.978325   33.122772      30.119451
BAC       44.464053   26.811538   18.812362      30.029318
UNP       38.580234   25.999855   24.087781      29.555957
MO        29.659794   32.103930   25.341685      29.035136
USB       58.452277    9.334446   16.428432      28.071719
RY.TO     25.052007   28.531978   28.531978      27.371988
UNH       38.729089   24.309235   18.909441      27.315922
ABBV      33.788404   12.387435   33.026836      26.400892
CL        26.368245   11.709293   32.289499      23.455679
UPS       45.228317   14.067347    3.150684      20.815449
BIIB      42.360113   22.055286  -12.351948      17.354484
TD.TO     29.222126    9.010837    9.010837      15.747934
BMY       39.156122    9.726808   -5.109831      14.591033
PFE       40.062371   19.207655  -19.219501      13.350175
T.TO      27.806012    1.051838    1.051838       9.969896

In [52]:
def calculate_scoreboard_2(std, pcr, ret):
    """
    Merges three DataFrames (std, pcr, ret) on their index (assumed to be ticker names),
    calculates the average of 'Score_std' and 'Score_pcr', using 'Score_ret' only when 'Score_pcr' is NaN.
    The average score is strictly based on 'Score_std' and 'Score_pcr'.
    """
    # Merge std and pcr DataFrames
    merged = std[['Score']].merge(
        pcr[['Score']], left_index=True, right_index=True, suffixes=('_std', '_pcr'), how='outer'
    )
    
    # Merge the resulting DataFrame with ret
    merged = merged.merge(
        ret[['Score']].rename(columns={'Score': 'Score_ret'}),  # Rename the Score column in ret
        left_index=True,
        right_index=True,
        how='outer'
    )

    # Use 'Score_ret' where 'Score_pcr' is NaN
    merged['Score_pcr'] = merged['Score_pcr'].fillna(merged['Score_ret'])
    merged.drop(columns=['Score_ret'], inplace=True)

    # Calculate the average score using only 'Score_std' and 'Score_pcr'
    # Exclude rows where both 'Score_std' and 'Score_pcr' are NaN
    merged['Average Score'] = merged[['Score_std', 'Score_pcr']].mean(axis=1)

    # Sort the DataFrame by 'Average Score' in descending order
    merged_sorted = merged.sort_values(by='Average Score', ascending=False)

    
    return merged_sorted




scores = calculate_scoreboard_2(std, pcr, ret)

In [53]:
# Load market data into a dataframe
s_p500 = yf.Ticker('^GSPC').history(start=start_date, end=end_date)['Close']
tsx60 = yf.Ticker('^GSPTSE').history(start=start_date, end=end_date)['Close']

SPreturns = s_p500.pct_change().dropna()
TSX60Returns = tsx60.pct_change().dropna()

avg_return = (SPreturns + TSX60Returns)/2

market_indices = pd.DataFrame({'S&P 500 PCT Returns': SPreturns, 
                               'TSX 60 PCT Returns': TSX60Returns, 
                               'Average Market Return': avg_return})
market_indices.index = market_indices.index.strftime('%Y-%m-%d')
market_indices.index = pd.to_datetime(market_indices.index)

market_indices.head()

            S&P 500 PCT Returns  TSX 60 PCT Returns  Average Market Return
Date
2022-10-03             0.025884            0.023693               0.024788
2022-10-04             0.030584            0.025941               0.028262
2022-10-05            -0.002018           -0.007016              -0.004517
2022-10-06            -0.010245           -0.013314              -0.011780
2022-10-07            -0.028004           -0.020860              -0.024432

In [54]:
market_variance = market_indices['Average Market Return'].var()
print(f'Market Variance: {market_variance}')

Market Variance: 6.424001518121877e-05

In [55]:
# sharpe ratio optimization

def optimal_sharpe(tickers, start_date, end_date, risk_free_rate, investment):
    # creating prices dataframe
    prices = pd.DataFrame()

    for ticker in data.columns.tolist():
        if ticker in tickers:
            prices[ticker] = data[ticker]

    def neg_sharpe(weights):

        # determining number of shares of each stock that can be bought
        shares = []
        for i in range(len(tickers)):
            allocation = investment * weights[i]  # investment allocated to this stock
            price_per_share = prices.iloc[0][tickers[i].upper()]
            
            # clculate fees
            flat_fee = 3.95
            per_share_fee = allocation/price_per_share/(1000+1/price_per_share) 
            
            # choose the smaller of the two fees
            trading_fee = min(flat_fee, per_share_fee)
            
            # calculate the number of shares after deducting the fee
            effective_investment = allocation - trading_fee
            shares.append(effective_investment / price_per_share)
        
        # forming the portfolio
        portfolio = prices*shares
        portfolio['total'] = portfolio.sum(axis=1)
        portfolio['daily return'] = portfolio['total'].pct_change(1)

        # calculating sharpe ratio
        er = portfolio['daily return'].mean()
        std = portfolio['daily return'].std()
        sharpe_ratio = (er-risk_free_rate)/std
        
        sharpe_ratio = sharpe_ratio*(252**0.5) # annualizing sharpe ratio by trading days

        return -sharpe_ratio #make sharpe ratio negative for minimize function

    # constraints
    def check_sum(weights): 
        return np.sum(weights)-1 #returns 0 if weights sum up to 1

    def check_beta(weights):
        # creating prices dataframe
        prices = pd.DataFrame()

        for ticker in data.columns.tolist():
            if ticker in tickers:
                prices[ticker] = data[ticker]

        # initializing
        betas = []
        portfolio_beta = 0

        snp = yf.Ticker('^GSPC').history(start=start_date, end=end_date)['Close']
        tse = yf.Ticker('^GSPTSE').history(start=start_date,end=end_date)['Close']
        market = (snp+tse)/2
        
        # calculate individual stock betas
        for ticker in tickers:
            compare = pd.DataFrame()
            compare['stock'] = prices[ticker].pct_change(fill_method=None).dropna()
            compare['market'] = market_indices['Average Market Return']
            beta = (compare.cov()/compare['market'].var()).iat[0,1]
            betas.append(beta)

        # calculate portfolio beta with weighted stock betas
        for i in range(len(weights)):
            portfolio_beta += betas[i] * weights[i]

        return portfolio_beta - 1
    
    constraints = [
        {'type': 'eq', 'fun': check_sum},
        {'type': 'ineq', 'fun': check_beta}
    ]

    min_weight = 1/(2*len(tickers))
    max_weight = 0.4

    bounds = [(min_weight, max_weight)]*len(tickers)

    # initial guess
    init_guess = [1.0/len(tickers)]*len(tickers)

    results = minimize(neg_sharpe, init_guess, method="SLSQP", bounds=bounds, constraints=constraints)

    return results

In [ ]:
def get_beta(weights, tickers):
        # creating prices dataframe
        prices = pd.DataFrame()

        for ticker in data.columns.tolist():
            if ticker in tickers:
                prices[ticker] = data[ticker]

        # initializing
        betas = []
        portfolio_beta = 0

        snp = yf.Ticker('^GSPC').history(start=start_date, end=end_date)['Close']
        tse = yf.Ticker('^GSPTSE').history(start=start_date,end=end_date)['Close']
        market = (snp+tse)/2
        
        # calculate individual stock betas
        for ticker in tickers:
            compare = pd.DataFrame()
            compare['stock'] = prices[ticker].pct_change(fill_method=None).dropna()
            compare['market'] = market_indices['Average Market Return']
            beta = (compare.cov()/compare['market'].var()).iat[0,1]
            betas.append(beta)

        # calculate portfolio beta with weighted stock betas
        for i in range(len(weights)):
            portfolio_beta += betas[i] * weights[i]

        return portfolio_beta 

pbetas = []
for i in range (min_stocks, max_stocks+1):
    pbetas.append((check_beta(optimal_sharpe((list(scores.head(i).index)), start_date, end_date, 0, amount).x, list(scores.head(i).index))))

print(pbetas)

[1.1589407128260787, 1.3711989251490537, 1.3650558323695432, 1.3764651356804738, 1.0000000000163585, 0.9999999999252202, 1.0000000000085194, 1.000000000001118, 1.01259659343377, 1.0238351184894106, 1.0175032352795153, 1.0086448580759324, 1.0000000000025953]

In [107]:
def beta_optimize():
    # Calculating beta of the stock portfolio
    optimize = pd.DataFrame(columns=['Sharpe Ratio', 'Beta'])
    current_best = None
    for i in range(min_stocks, max_stocks+1):
        current_stocks = list(scores.head(i).index)
        stock_weight_data = optimal_sharpe(current_stocks, start_date, end_date, 0, amount)
        weights = stock_weight_data.x
        sharpe_ratio = -stock_weight_data.fun
        # portfolio_beta = 0
        # for index, value in enumerate(weights):
        #     temp = pd.DataFrame()
        #     temp['Market'] = market_indices['Average Market Return']

        #     istock_return = data[current_stocks[index]].pct_change(fill_method=None).dropna()
        #     temp['Stock'] = istock_return
        #     covariance = temp.cov()
        #     # Add Weight adjusted beta
        #     portfolio_beta += value * (covariance.iloc[0, 1] / market_variance)
        optimize.loc[len(optimize)-1, 'Sharpe Ratio'] = sharpe_ratio
        optimize.loc[len(optimize), 'Beta'] = pbetas[i-min_stocks]
        if current_best is None or (sharpe_ratio > current_best[0]):
            current_best = (sharpe_ratio, pbetas[i-min_stocks], current_stocks, weights)
        
    print(f'''
        Best Sharpe Ratio: {current_best[0]}
        Best Portfolio Beta: {current_best[1]}
        Number of Stocks: {len(current_best[2])}
    ''')

    optimize.index = optimize.index + min_stocks
    optimize.rename_axis('Number of Stocks', inplace=True)
    return optimize, current_best

In [108]:
weights = beta_optimize()

        Best Sharpe Ratio: 2.403986200097045
        Best Portfolio Beta: 1.0000000000085194
        Number of Stocks: 18

In [109]:
weights[0]

                 Sharpe Ratio      Beta
Number of Stocks
11                   1.797278       NaN
13                   1.807233  1.158941
14                   2.311207  1.371199
15                   2.307229  1.365056
16                   2.306344  1.376465
17                   2.337222       1.0
18                   2.403986       1.0
19                   2.043117       1.0
20                   2.082293       1.0
21                   2.086032  1.012597
22                   2.007212  1.023835
23                    2.02002  1.017503
24                   1.998323  1.008645
25                        NaN       1.0

In [67]:
# Store date for November, 22, 2024 in a variable:
def portfolio_builder():
    # Store date for November, 22, 2024 in a variable:
    date1, date2 = '2024-11-21', '2024-11-22'
    final_portfolio = weights[2]
    final_weights = weights[3]

    portfolio = Portfolio_Final.copy()
    portfolio.Ticker = final_portfolio

    for index, ticker in enumerate(final_portfolio):
        # Get the price of the stock on the specified date
        stock = yf.Ticker(ticker).history(start=date1, end=date2)['Close'].iloc[0]
        portfolio.loc[index, 'Price'] = stock
        # Determine the number of shares to purchase based off weight
        shares = (amount * final_weights[index]) / stock
        portfolio.loc[index, 'Shares'] = shares
        # Determine the value of the stock in portfolio
        portfolio.loc[index, 'Value'] = shares * stock
        # Determine the weight of the stock in the portfolio
        portfolio.loc[index, 'Weight'] = final_weights[index]
        # Determine the currency of the ticker
        if ticker in stock_filter[2]:
            portfolio.loc[index, 'Currency'] = 'USD'
        else: portfolio.loc[index, 'Currency'] = 'CAD'
    portfolio.index = range(1, len(portfolio) + 1)
    return portfolio.head(len(final_portfolio))

portfolio = portfolio_builder()
print(f'Total Portfolio value is {np.round(portfolio["Value"].sum(), 2)}')

Total Portfolio value is 1000000.0

In [68]:
# Code to output final dataframe to a CSV file called Stocks_Group_XX.csv
Stocks_Final = Portfolio_Final[['Ticker', 'Shares']]
Stocks_Final.to_csv(f'Stocks_Group_{group}.csv', index=False)

In [69]:
Portfolio_Final = portfolio

Portfolio_Final

     Ticker       Price Currency        Shares          Value    Weight
1   SHOP.TO   63.759998      USD     560.13624   35714.285714  0.035714
2        KO  198.380005      USD    180.029664   35714.285714  0.035714
3      AMZN  131.210007      USD    272.191783   35714.285714  0.035714
4        PM       84.82      USD   3477.016856  294920.568694  0.294921
5      PYPL        3.26      CAD  10955.302398   35714.285714  0.035714
6     BB.TO  155.460007      USD   1486.529275  231095.851085  0.231096
7      QCOM      172.75      USD    206.739715   35714.285714  0.035714
8        PG  160.339996      USD    222.740966   35714.285714  0.035714
9       PEP  117.260002      USD    691.850894   81126.437364  0.081126
10      ABT  389.589996      USD     91.671465   35714.285714  0.035714
11      CAT  143.410004      USD    249.036223   35714.285714  0.035714
12       BA   99.860001      USD    357.643556   35714.285714  0.035714
13      MRK  749.919983      USD     47.624129   35714.285714  0.035714
14      LLY  749.919983      USD     47.624129   35714.285714  0.035714

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

---
<p style="color: #004dd3">
Akram Jamil
</p>

<p style="color: #2C8CA9">
Jester Yang
</p>

<p style="color: #3cc19d;">
Annie Wong
</p>

---