In [1]:
#These are the libraries you can use.  You may add any libraries directy related to threading if this is a direction
#you wish to go (this is not from the course, so it's entirely on you if you wish to use threading).  Any
#further libraries you wish to use you must email me, james@uwaterloo.ca, for permission.

from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
import random
from datetime import datetime
from scipy.optimize import minimize

## Group Assignment
### Team Number: 11
### Team Member Names: Akram, Annie, Jester
### Team Strategy Chosen: Market Beat

Disclose any use of AI for this assignment below (detail where and how you used it).  Please see the course outline for acceptable uses of AI.

## **General Strategy for the Project**:

#### Initialization
0) Define and initialize necessary global variables

#### Part #1: Data Filtering and Cleaning
1) Filter out all valid US and CAD Stocks from the provided CSV file.
2) Download and store closing price, options and volume data in a dictionary using yfinance, where US stocks prices are converted using real-time exchange rate.
3) Filter out tickers within date range based on given minimum monthly average volume and minimum trading days in a month.

#### Part #2: Portfolio Construction
4) Rank stocks based on Standard Deviation of percentage change in returns in descending order.
5) Rank stocks based on PCR values using options data in descending order.
6) Score the stocks based on the two ranks, and create a new ranking based on the scoring.
7) We select stocks based on the ranking and calculate weights that would maximize the portfolio sharpe ratio while beta is within pre-defined constraints.
8) Run sharpe ratio calculation function on portfolio from size 12(min) to 24(max), so that the final portfolio (with weightings) is picked based on highest output sharpe ratio.

#### Part #3: Evaluation and Proof
9) Given the chosen portfolio of xx stocks, graph the change in portfolio standard deviation as other stocks are added.
10) Beta of portfolio compared to the S&P 500.
11) Calculate the Beta between our portfolio and an equally weighted portfolio including all valid stocks.
12) Beta between our portfolio with varied weight versus when the portfolio is equally weighted.
13) Sharpe ratio between our portfolio with varied weight versus when it is equally weighted.
14) Graphically compare sharpe ratios amongst our portfolio of xx stocks and the portfolios of varying 12-24 stocks.

#### Part #4: Final Output
15) Creating the final portfolio dataframe and CSV.

## Initializing Variables

In [2]:
def get_tickers():
    tickers = pd.read_csv('Tickers.csv')
    ticker_lst = [tickers.columns[0]] + (list(tickers[tickers.columns[0]]))
    return ticker_lst

In [3]:
# Important Constants: 
amount = 1_000_000 # Initial investment amount of $1,000,000
group = 11

# Define constants
min_avg_volume = 100000
min_trading_days = 18
start_date, end_date = '2022-09-30', '2024-09-30'
min_stocks, max_stocks = 12, 24

# Reading in CSV file: 
ticker_lst = get_tickers()

# Initializing variable to store the tickers we will use in our portfolio
columns = ['Ticker', 'Price', 'Currency', 'Shares', 'Value', 'Weight']
Portfolio_Final = pd.DataFrame(columns=columns)
exchange_rate = yf.Ticker('CAD=X').fast_info['last_price']
print(f'The current exchange rate for the latest available day:\nUSD -> CAD: ${np.round(exchange_rate, 4)}')

The current exchange rate for the latest available day:
USD -> CAD: $1.3975

#### We must filter the tickers csv as follows:
- Must be listed on yfinance
- The currency is listed as USD or CAD 
- 100,000+ average monthly volume trades
- More than 18 trades per month
- Sufficient data

In [4]:
# Filtering valid stocks by inputting a list of strings for each ticker. 
def filter_stocks(ticker_lst):
    # Function to drop short trading months (less than 18 trading days per month)
    def drop_short_trading_months(df):
        """
        Drops months with less than 18 trading days from a yfinance history DataFrame.
        Parameters:
            df (pd.DataFrame): A yfinance DataFrame with a DatetimeIndex and stock data.
        Returns:
            pd.DataFrame: Filtered DataFrame with only months having >= 18 trading days.
        """
        # Ensure the index is a DatetimeIndex
        if not isinstance(df.index, pd.DatetimeIndex):
            raise ValueError("The DataFrame index must be a DatetimeIndex.")
        # Remove timezone information to avoid warnings
        df = df.copy()  # Avoid modifying the original DataFrame
        df.index = df.index.tz_localize(None)
        # Group by year and month
        df['YearMonth'] = df.index.to_period('M')  # Creates a 'YearMonth' period
        # Count trading days for each month
        trading_days_per_month = df.groupby('YearMonth').size()
        # Get valid months with at least 18 trading days
        valid_months = trading_days_per_month[trading_days_per_month >= 18].index
        # Filter DataFrame to include only rows in valid months
        filtered_df = df[df['YearMonth'].isin(valid_months)].drop(columns=['YearMonth'])
        return filtered_df
    
    valid_tickers, invalid_tickers = {}, []
    # Loop through all tickers to check if they are valid
    for ticker in ticker_lst:
        stock = yf.Ticker(ticker)
        try:
            info = stock.fast_info # Get basic stock info

            hist = stock.history(start=start_date, end=end_date) # Get stock history
            pd.to_datetime(hist.index, format='%Y-%m-%d')
            
            avg_volume = hist.loc[((hist.index >= start_date) & (hist.index <= end_date))]['Volume'].mean() # Calculate average volume in specified date range.
            currency = info.get("currency")
            if ((hist.empty is not None) and # filter for stocks delisted on yfinance
                ( currency == "USD" or currency == "CAD") and # filter for stocks that are not USD
                (avg_volume >= min_avg_volume)): # Filter by volume greater than 100,000
                if currency == "CAD":
                    hist = drop_short_trading_months(hist)
                    hist.index = hist.index.strftime('%Y-%m-%d')
                    valid_tickers[ticker] = hist['Close'] # Store the close prices of the stock as a Series
                elif currency == "USD":
                    hist = drop_short_trading_months(hist)
                    hist.index = hist.index.strftime('%Y-%m-%d')
                    valid_tickers[ticker] = hist['Close'] * exchange_rate # Convert USD to CAD
            else:
                invalid_tickers.append(ticker)
        except:
            invalid_tickers.append(ticker)
    return [valid_tickers, invalid_tickers]
    # valid_tickers is a dictionary of Series where the key is the name of the ticker. 
    # invalid_tickers is a list of ticker strings which were removed in the filtering process.

In [5]:
def calculate_std(data):
    data.index = pd.to_datetime(data.index)
    
    # Calculate daily percentage returns
    returns = data.pct_change().dropna()

    # Calculate standard deviation of returns
    std = pd.DataFrame(returns.std(), columns=['Standard Deviation'])

    # Sort by standard deviation
    std_sorted = std.sort_values(by='Standard Deviation', ascending=False)

    # Add Rank column
    std_sorted['Rank'] = range(len(std_sorted))

    # Add Score column
    highest_std_value = std_sorted['Standard Deviation'].iloc[0]
    std_sorted['Score'] = (std_sorted['Standard Deviation'] / highest_std_value) * 100

    return std_sorted

In [6]:
def calculate_return(data):
    data.index = pd.to_datetime(data.index)
    
    # Calculate daily percentage returns
    returns = data.pct_change().dropna()

    # Calculate standard deviation of returns
    ret = pd.DataFrame(returns.mean(), columns=['Return'])

    # Sort by standard deviation
    ret_sorted = ret.sort_values(by='Return', ascending=False)

    # Add Rank column
    ret_sorted['Rank'] = range(len(ret_sorted))

    # Add Score column
    highest_ret_value = ret_sorted['Return'].iloc[0]
    ret_sorted['Score'] = (ret_sorted['Return'] / highest_ret_value) * 100

    return ret_sorted

In [7]:
# Loading data into variables
stock_filter = filter_stocks(ticker_lst)
ticker_data = stock_filter[0]
ticker_lst = list(ticker_data.keys()) # Reassign original ticker list
data = pd.DataFrame()
for ticker in ticker_data:
    data[ticker] = ticker_data[ticker]

# returns = data.pct_change()
# returns.drop(index=returns.index[0], inplace = True)

data.head()

$AGN: possibly delisted; no timezone found
$AGN: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$CELG: possibly delisted; no timezone found
$CELG: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$MON: possibly delisted; no timezone found
$MON: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")
$RTN: possibly delisted; no timezone found
$RTN: possibly delisted; no price data found  (period=5d) (Yahoo error = "No data found, symbol may be delisted")

,AAPL,ABBV,ABT,ACN,AIG,AMZN,AXP,BA,BAC,BB.TO,...,QCOM,RY.TO,SHOP.TO,T.TO,TD.TO,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2022-10-03,196.675953,177.438609,133.055881,357.041492,65.691122,161.942301,189.819916,176.154884,41.079066,6.53,...,156.282453,114.575356,37.799999,25.033068,77.623268,208.914805,699.323511,266.963450,207.177078,52.548702
2022-10-04,201.715428,182.146525,137.815529,369.738600,69.070516,169.223275,197.194749,186.580222,42.783541,6.74,...,163.148651,117.543640,42.610001,25.316833,79.079193,215.855093,709.714731,273.788844,214.544979,53.888654
2022-10-05,202.129564,183.865486,138.216605,369.779030,68.522880,169.027625,195.717027,184.623731,42.175747,6.67,...,166.508411,117.041306,41.959999,25.104012,78.620865,219.318734,715.005382,267.443329,213.325451,53.345090
2022-10-06,200.790364,179.965724,136.973215,363.214772,67.801579,168.119259,193.019287,184.749501,41.567947,6.64,...,167.028379,113.762512,41.320000,24.421209,75.751686,217.671847,704.234209,264.230631,210.365636,51.929299
2022-10-07,193.417601,178.003060,136.090810,350.059494,66.399068,160.097601,188.437130,181.381521,40.629828,6.29,...,161.202118,110.520248,37.349998,24.376871,74.671204,208.182832,684.862490,260.777908,202.159311,50.816882

In [8]:
# Function to get the total volume for a call or put of a given stock.
# ticker: yfinance Ticker class
# put: Boolean for if you want to calculate put volume. Else, put False for call volume. 
def get_options_vol(ticker, put):
    exps = ticker.options # Expiration dates of available options
    optdata = pd.DataFrame() # Data storage
    for exp in exps:
        chain = pd.DataFrame()
        if put: chain = ticker.option_chain(exp).puts['volume'] # Gets the desired columns
        else: chain = ticker.option_chain(exp).calls['volume'] # If put options are desired then use this data.
        optdata = pd.concat([optdata, chain]) # Add the calls/puts to the main dataframe. 
    return optdata.sum()['volume'] # output total volue of put/call options

# Function to calculate the PCR for each stock. 
def PCR_calc(tickers):
    pcrdata = pd.DataFrame(columns=['Ticker', 'Put Volume', 'Call Volume', 'PCR'])
    for ticker in tickers:
        stock = yf.Ticker(ticker)
        try: 
            # Get the volume for Put and Call options:
            call_options = get_options_vol(stock, False)
            put_options = get_options_vol(stock, True)
            # Calculate PCR Ratio:
            pcr = call_options / put_options # Order reversed from the formula for sake of ranking
            #print(f"Ticker: {ticker}, PCR: {pcr}")  # Debugging
            pcrdata.loc[len(pcrdata)] = [ticker, put_options, call_options, pcr]
        except Exception as e:
            print(f"Options Data Not Found {ticker}: {e} not found")  # Debugging (output error)
            pass
    return pcrdata

In [9]:
std = calculate_std(data)
std

/var/folders/9g/h_n63rvn21s1k0y3xvf0n28h0000gn/T/ipykernel_93521/2355861676.py:5: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns = data.pct_change().dropna()

         Standard Deviation  Rank       Score
SHOP.TO            0.036151     0  100.000000
BB.TO              0.034589     1   95.681598
PYPL               0.023819     2   65.888938
QCOM               0.023439     3   64.837260
AMZN               0.021313     4   58.955341
USB                0.021239     5   58.752259
BA                 0.020323     6   56.217049
LLY                0.018084     7   50.025318
CAT                0.017586     8   48.645435
TXN                0.016667     9   46.104340
C                  0.016470    10   45.559820
UPS                0.016413    11   45.400886
BAC                0.016275    12   45.019091
AXP                0.016260    13   44.979905
ACN                0.015976    14   44.192235
AAPL               0.015728    15   43.507994
BIIB               0.015395    16   42.586568
BLK                0.015281    17   42.270919
AIG                0.015088    18   41.737133
PFE                0.014761    19   40.831754
BK                 0.014498    20   40.104766
BMY                0.014287    21   39.521869
UNH                0.014152    22   39.146141
UNP                0.014084    23   38.960154
ABT                0.012963    24   35.857290
MRK                0.012627    25   34.929593
ABBV               0.012415    26   34.342492
LMT                0.011803    27   32.648478
MO                 0.010909    28   30.177232
PM                 0.010631    29   29.406396
TD.TO              0.010610    30   29.348580
T.TO               0.010206    31   28.231507
PEP                0.010192    32   28.192925
CL                 0.009711    33   26.862731
PG                 0.009580    34   26.499747
RY.TO              0.009117    35   25.220218
KO                 0.008676    36   24.000751

In [10]:
ret = calculate_return(data)
ret

/var/folders/9g/h_n63rvn21s1k0y3xvf0n28h0000gn/T/ipykernel_93521/3450711558.py:5: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  returns = data.pct_change().dropna()

           Return  Rank       Score
SHOP.TO  0.002726     0  100.000000
LLY      0.002210     1   81.071894
CAT      0.001889     2   69.286130
AXP      0.001511     3   55.441221
BK       0.001427     4   52.355039
BLK      0.001227     5   45.024359
AMZN     0.001196     6   43.853769
QCOM     0.001116     7   40.925524
AAPL     0.001086     8   39.832613
C        0.001055     9   38.682416
AIG      0.001006    10   36.889198
PM       0.000968    11   35.494735
LMT      0.000929    12   34.061979
ABBV     0.000919    13   33.726764
CL       0.000901    14   33.043007
MO       0.000824    15   30.217649
TXN      0.000798    16   29.283519
RY.TO    0.000790    17   28.989329
PG       0.000750    18   27.514530
ACN      0.000749    19   27.457221
BAC      0.000719    20   26.374253
MRK      0.000710    21   26.059341
BA       0.000639    22   23.427179
KO       0.000634    23   23.254170
UNP      0.000590    24   21.646533
USB      0.000585    25   21.445586
ABT      0.000407    26   14.946332
UNH      0.000402    27   14.749386
TD.TO    0.000231    28    8.463360
PEP      0.000224    29    8.216865
PYPL     0.000059    30    2.180811
UPS     -0.000086    31   -3.158819
T.TO    -0.000148    32   -5.411929
BMY     -0.000390    33  -14.292724
BIIB    -0.000494    34  -18.116175
PFE     -0.000533    35  -19.539923
BB.TO   -0.000724    36  -26.567311

In [11]:
# Load the PCR values for each of the valid stocks into a variable
options_data = PCR_calc(ticker_lst)
options_data = options_data.sort_values(by='PCR', ascending=False)
options_data['Rank'] = [i for i in range(len(options_data))]
highest_pcr = options_data['PCR'].iloc[0]
options_data['Score'] = (options_data['PCR'] / highest_pcr) * 100
options_data.set_index('Ticker', inplace=True)


# Display the table of rankings based off PCR. 
# The rankings are based off the stocks with the greatest sentiment for if they will go up or not
# The tickers at the top of the list have a high call rate (meaning the price will go up)
pcr = options_data
pcr

Options Data Not Found BB.TO: 'volume' not found
Options Data Not Found RY.TO: 'volume' not found
Options Data Not Found SHOP.TO: 'volume' not found
Options Data Not Found T.TO: 'volume' not found
Options Data Not Found TD.TO: 'volume' not found

        Put Volume  Call Volume       PCR  Rank       Score
Ticker
KO         11173.0      58728.0  5.256243     0  100.000000
PM          2844.0      10426.0  3.665963     1   69.744942
PG          8260.0      26726.0  3.235593     2   61.557150
PEP         5154.0      15798.0  3.065192     3   58.315269
AMZN      261121.0     660950.0  2.531202     4   48.156110
ABT         3750.0       9479.0  2.527733     5   48.090118
MRK         9984.0      22607.0  2.264323     6   43.078736
LMT         4555.0       9932.0  2.180461     7   41.483264
BK          1664.0       2832.0  1.701923     8   32.379081
MO          4745.0       8007.0  1.687460     9   32.103930
PYPL       15030.0      25299.0  1.683234    10   32.023512
LLY        19783.0      32571.0  1.646414    11   31.323013
CAT         7163.0      11485.0  1.603378    12   30.504270
TXN         7012.0      10623.0  1.514974    13   28.822381
AXP         8494.0      12482.0  1.469508    14   27.957383
ACN         2663.0       3762.0  1.412692    15   26.876469
BAC        61943.0      87295.0  1.409279    16   26.811538
UNP         3906.0       5338.0  1.366615    17   25.999855
UNH         6567.0       8391.0  1.277752    18   24.309235
QCOM       27469.0      34515.0  1.256507    19   23.905048
AAPL      323287.0     378204.0  1.169871    20   22.256787
BIIB        3497.0       4054.0  1.159279    21   22.055286
BA         63098.0      70884.0  1.123395    22   21.372593
PFE       139257.0     140594.0  1.009601    23   19.207655
C          67866.0      62987.0  0.928108    24   17.657258
BLK         2492.0       2201.0  0.883226    25   16.803378
AIG         5695.0       4783.0  0.839860    26   15.978325
UPS        15799.0      11682.0  0.739414    27   14.067347
ABBV       31248.0      20346.0  0.651114    28   12.387435
CL          4564.0       2809.0  0.615469    29   11.709293
BMY        19974.0      10212.0  0.511265    30    9.726808
USB        16829.0       8257.0  0.490641    31    9.334446

In [12]:
def calculate_scoreboard(std, pcr, ret):
    """
    Merges three DataFrames (std, pcr, ret) on their index (assumed to be ticker names),
    calculates the average of their 'Score' columns, and sorts the result by 'Average Score'.
    Handles NaN values by taking the value from 'ret' where available.
    """
    # Merge std and pcr DataFrames
    merged = std[['Score']].merge(
        pcr[['Score']], left_index=True, right_index=True, suffixes=('_std', '_pcr'), how='outer'
    )
    
    # Merge the resulting DataFrame with ret
    merged = merged.merge(
        ret[['Score']].rename(columns={'Score': 'Score_ret'}),  # Rename the Score column in ret
        left_index=True,
        right_index=True,
        how='outer'
    )

    # Fill missing values: take the value from 'ret' where other columns are NaN
    merged['Score_std'] = merged['Score_std'].fillna(merged['Score_ret'])
    merged['Score_pcr'] = merged['Score_pcr'].fillna(merged['Score_ret'])
    merged['Score_ret'] = merged['Score_ret'].fillna(merged[['Score_std', 'Score_pcr']].mean(axis=1))

    # Calculate the average score from all three columns
    merged['Average Score'] = merged[['Score_std', 'Score_pcr', 'Score_ret']].mean(axis=1)

    # Sort the DataFrame by 'Average Score' in descending order
    merged_sorted = merged.sort_values(by='Average Score', ascending=False)

    return merged_sorted



calculate_scoreboard(std, pcr, ret)

          Score_std   Score_pcr   Score_ret  Average Score
SHOP.TO  100.000000  100.000000  100.000000     100.000000
LLY       50.025318   31.323013   81.071894      54.140075
AMZN      58.955341   48.156110   43.853769      50.321740
CAT       48.645435   30.504270   69.286130      49.478612
KO        24.000751  100.000000   23.254170      49.084974
PM        29.406396   69.744942   35.494735      44.882024
QCOM      64.837260   23.905048   40.925524      43.222611
AXP       44.979905   27.957383   55.441221      42.792836
BK        40.104766   32.379081   52.355039      41.612962
PG        26.499747   61.557150   27.514530      38.523809
LMT       32.648478   41.483264   34.061979      36.064573
AAPL      43.507994   22.256787   39.832613      35.199131
TXN       46.104340   28.822381   29.283519      34.736747
BLK       42.270919   16.803378   45.024359      34.699552
MRK       34.929593   43.078736   26.059341      34.689223
C         45.559820   17.657258   38.682416      33.966498
BA        56.217049   21.372593   23.427179      33.672273
PYPL      65.888938   32.023512    2.180811      33.364420
ABT       35.857290   48.090118   14.946332      32.964580
ACN       44.192235   26.876469   27.457221      32.841975
BAC       45.019091   26.811538   26.374253      32.734960
PEP       28.192925   58.315269    8.216865      31.575020
AIG       41.737133   15.978325   36.889198      31.534885
MO        30.177232   32.103930   30.217649      30.832937
USB       58.752259    9.334446   21.445586      29.844097
UNP       38.960154   25.999855   21.646533      28.868847
RY.TO     25.220218   28.989329   28.989329      27.732959
ABBV      34.342492   12.387435   33.726764      26.818897
UNH       39.146141   24.309235   14.749386      26.068254
CL        26.862731   11.709293   33.043007      23.871677
UPS       45.400886   14.067347   -3.158819      18.769805
BIIB      42.586568   22.055286  -18.116175      15.508560
TD.TO     29.348580    8.463360    8.463360      15.425100
BB.TO     95.681598  -26.567311  -26.567311      14.182325
PFE       40.831754   19.207655  -19.539923      13.499829
BMY       39.521869    9.726808  -14.292724      11.651984
T.TO      28.231507   -5.411929   -5.411929       5.802549

In [13]:
def calculate_scoreboard_2(std, pcr, ret):
    """
    Merges three DataFrames (std, pcr, ret) on their index (assumed to be ticker names),
    calculates the average of 'Score_std' and 'Score_pcr', using 'Score_ret' only when 'Score_pcr' is NaN.
    The average score is strictly based on 'Score_std' and 'Score_pcr'.
    """
    # Merge std and pcr DataFrames
    merged = std[['Score']].merge(
        pcr[['Score']], left_index=True, right_index=True, suffixes=('_std', '_pcr'), how='outer'
    )
    
    # Merge the resulting DataFrame with ret
    merged = merged.merge(
        ret[['Score']].rename(columns={'Score': 'Score_ret'}),  # Rename the Score column in ret
        left_index=True,
        right_index=True,
        how='outer'
    )

    # Use 'Score_ret' where 'Score_pcr' is NaN
    merged['Score_pcr'] = merged['Score_pcr'].fillna(merged['Score_ret'])
    merged.drop(columns=['Score_ret'], inplace=True)

    # Calculate the average score using only 'Score_std' and 'Score_pcr'
    # Exclude rows where both 'Score_std' and 'Score_pcr' are NaN
    merged['Average Score'] = merged[['Score_std', 'Score_pcr']].mean(axis=1)

    # Sort the DataFrame by 'Average Score' in descending order
    merged_sorted = merged.sort_values(by='Average Score', ascending=False)

    
    return merged_sorted




scores = calculate_scoreboard_2(std, pcr, ret)

In [14]:
# Load market data into a dataframe
s_p500 = yf.Ticker('^GSPC').history(start=start_date, end=end_date)['Close']
tsx60 = yf.Ticker('^GSPTSE').history(start=start_date, end=end_date)['Close']

SPreturns = s_p500.pct_change().dropna()
TSX60Returns = tsx60.pct_change().dropna()

avg_return = (SPreturns + TSX60Returns)/2

market_indices = pd.DataFrame({'S&P 500 PCT Returns': SPreturns, 
                               'TSX 60 PCT Returns': TSX60Returns, 
                               'Average Market Return': avg_return})
market_indices.index = market_indices.index.strftime('%Y-%m-%d')
market_indices.index = pd.to_datetime(market_indices.index)

market_indices.head()

            S&P 500 PCT Returns  TSX 60 PCT Returns  Average Market Return
Date
2022-10-03             0.025884            0.023693               0.024788
2022-10-04             0.030584            0.025941               0.028262
2022-10-05            -0.002018           -0.007016              -0.004517
2022-10-06            -0.010245           -0.013314              -0.011780
2022-10-07            -0.028004           -0.020860              -0.024432

In [15]:
market_variance = market_indices['Average Market Return'].var()
print(f'Market Variance: {market_variance}')

Market Variance: 6.424001518121877e-05

In [16]:
# sharpe ratio optimization

def optimal_sharpe(tickers, risk_free_rate, investment):
    # Load market data into a dataframe
    data = pd.DataFrame()
    for ticker in tickers:
        data[ticker] = ticker_data[ticker]

    def neg_sharpe(weights):
        # determining number of shares of each stock that can be bought
        shares = []
        for i in range(len(tickers)):
            allocation = investment * weights[i]  # investment allocated to this stock
            price_per_share = data.iloc[0][tickers[i].upper()]
            
            # clculate fees
            flat_fee = 3.95
            per_share_fee = allocation/price_per_share/(1000+1/price_per_share) 
            
            # choose the smaller of the two fees
            trading_fee = min(flat_fee, per_share_fee)
            
            # calculate the number of shares after deducting the fee
            effective_investment = allocation - trading_fee
            shares.append(effective_investment / price_per_share)
        
        # forming the portfolio
        portfolio = data*shares
        portfolio['total'] = portfolio.sum(axis=1)
        portfolio['daily return'] = portfolio['total'].pct_change(1)

        # calculating sharpe ratio
        er = portfolio['daily return'].mean()
        std = portfolio['daily return'].std()
        sharpe_ratio = (er-risk_free_rate)/std
        
        sharpe_ratio = sharpe_ratio*(252**0.5) # annualizing sharpe ratio by trading days

        return -sharpe_ratio #make sharpe ratio negative for minimize function

    # constraints
    def check_sum(weights): 
        return np.sum(weights)-1 #returns 0 if weights sum up to 1
    constraints = {'type': 'eq', 'fun': check_sum}

    min_weight = 1/(2*len(tickers))
    max_weight = 0.4

    bounds = [(min_weight, max_weight)]*len(tickers)

    # initial guess
    init_guess = [1.0/len(tickers)]*len(tickers)

    results = minimize(neg_sharpe, init_guess, method="SLSQP", bounds=bounds, constraints=constraints)

    return results

# Example test case: 
optimal = optimal_sharpe(ticker_lst, 0, 100)
print(f'Sharpe Ratio: {optimal.fun}\nOptimal Weights: \n{optimal.x}')

Sharpe Ratio: -1.512321132153145
Optimal Weights:
[0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.20791621 0.01351351 0.01351351
 0.31911086 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351 0.01351351
 0.01351351]

In [17]:
# Calculating beta of the stock portfolio
current_best = None
for i in range(min_stocks, max_stocks+1):
    current_stocks = list(scores.head(i).index)
    stock_weight_data = optimal_sharpe(current_stocks, 0, amount)
    weights = stock_weight_data.x
    sharpe_ratio = -stock_weight_data.fun
    portfolio_beta = 0
    for index, value in enumerate(weights):
        temp = pd.DataFrame()
        temp['Market'] = market_indices['Average Market Return']

        istock_return = data[current_stocks[index]].pct_change(fill_method=None).dropna()
        temp['Stock'] = istock_return
        covariance = temp.cov()
        # Add Weight adjusted beta
        portfolio_beta += value * (covariance.loc['Stock', 'Market'] / market_variance)
    if current_best is None or (sharpe_ratio < current_best[0] and portfolio_beta > current_best[1]):
        current_best = (sharpe_ratio, portfolio_beta, current_stocks, weights)
    
print(f'''
      Best Sharpe Ratio: {current_best[0]}
      Portfolio Beta: {current_best[1]}
      Number of Stocks: {len(current_best[2])}
''')

      Best Sharpe Ratio: 2.0953269712054188
      Portfolio Beta: 0.865021903103968
      Number of Stocks: 12

/opt/anaconda3/envs/venv/lib/python3.9/site-packages/scipy/optimize/_slsqp_py.py:437: RuntimeWarning: Values in x were outside bounds during a minimize step, clipping to bounds
  fx = wrapped_fun(x)
/opt/anaconda3/envs/venv/lib/python3.9/site-packages/scipy/optimize/_slsqp_py.py:441: RuntimeWarning: Values in x were outside bounds during a minimize step, clipping to bounds
  g = append(wrapped_grad(x), 0.0)
/opt/anaconda3/envs/venv/lib/python3.9/site-packages/scipy/optimize/_slsqp_py.py:495: RuntimeWarning: Values in x were outside bounds during a minimize step, clipping to bounds
  a_eq = vstack([con['jac'](x, *con['args'])

In [18]:
# Code to output final dataframe to a CSV file called Stocks_Group_XX.csv
Stocks_Final = Portfolio_Final[['Ticker', 'Shares']]
Stocks_Final.to_csv(f'Stocks_Group_{group}.csv', index=False)

In [19]:
Portfolio_Final

Empty DataFrame
Columns: [Ticker, Price, Currency, Shares, Value, Weight]
Index: []

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

---
<p style="color: #004dd3">
Akram Jamil
</p>

<p style="color: #2C8CA9">
Jester Yang
</p>

<p style="color: #3cc19d;">
Annie Wong
</p>

---